* {
/*retirer les marges et pad disgracieux*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/*retire le trait sous les liens a */
    text-decoration: none;
}

/* centrer un element !*/
body {
    background-color: #131416;
    display: flex;
    /*je centre horizontal*/
    justify-content: center;
    /* je centre sur la verticale de la page sur 100% de la page avec 100vh ! */
    align-items: center;
    height: 100vh;
}

/* stylisons 1 peu le lien a */
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 60px;
    width: 200px;

    /*centre le texte ds le cadre */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 1 petite bordure */
    border: 1px solid #892cdc;
    /* on n veut pas afficher le pseudo element, il servira pr le remplissage */
    overflow: hidden;
    /* pr que le pseudo-element (se mette derriere le texte) se superpose par dessus le bouton/lien/cadre */
    z-index: 0;
    position: relative;
}

/* créons le pseudo-element (un rectangle violet va s'afficher sous notre cadre, si on commente la props overflow de l'event a) */
a::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #892cdc;
    /* pr l'effet on add 1 border radius en haut à gauche et droite */
    /* pr qu'au survol le pseudo remonte et que ses bodures passent d'un arrondi à 50% à 1 flat à 0 */
    border-radius: 50% 50% 0 0;
    transition: all .5s;
    /* pr placer en dessous du txt */
    z-index: -1;
}

/* detecter le survol du lien et modifier pseudo class before */
a:hover::before{
    /* add background to top */
    top: 0;
    /* on enleve le border radius pr remplir totalement le lien */
    border-radius: 0;
}

/* à ce moment le pseudo element passe de 0 à 60 px vers le haut au survol du lien */

